---
import ContactForm from '../components/contact-form.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Testimonial from '../components/testimonial.astro';
import '../styles/global.css';
import portfolioVideo from './AcediaPictures.mp4';
import favicon from '/favicon.ico';
import { Featured } from '../components/featured/component';
import EmailButton from '../components/email-button.astro';
import Instagram from '../components/instagram.astro';
import Slides from '../components/slides/component';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      property="og:image"
      content="acedia-logo-transparent.png"
    /><meta
      property="og:image:width"
      content="201"
    /><meta
      property="og:image:height"
      content="168"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Acedia</title>
    <meta
      name="facebook-domain-verification"
      content="f1q1xxzgwg2junhv4ma4nodrrqaldi"
    />
    <script>
      // @ts-ignore
      !(function (f: any, b: any, e: any, v: any, n: any, t: any, s: any) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js%27'
      );
      //@ts-ignore
      fbq('init', '1988921201303241');
      //@ts-ignore
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1988921201303241&ev=PageView&noscript=1"
      /></noscript
    >
  </head>

  <body>
    <Header>
      <nav>
        <a href="">
          <img
            src="acedia-logo-transparent.png"
            width="40"
          />
        </a>
      </nav>
      <nav class="nav-bar">
        <a
          class="nav-item"
          href="#testimonials"
          >Testimonials</a
        >
        <a
          class="nav-item"
          href="#portfolio"
          >Portfolio</a
        >

        <a
          class="nav-item"
          href="#get-started"
          >Create With Us</a
        >
      </nav>
      <nav class="hamburger-bar">
        <button class="hamburger-button">
          <svg
            height="32px"
            class="hamburger-icon"
            id="Layer_1"
            style="enable-background:new 0 0 32 32;"
            version="1.1"
            viewBox="0 0 32 32"
            width="32px"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            ><path
              d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
            ></path></svg
          >
        </button>
        <script>
          function toggleHamburgerBar() {
            // Add class to navbar
            const navbar = document.querySelector('.nav-bar')!;
            const navItems = document.querySelectorAll('.nav-item');
            const isShowing = navbar.classList.contains('show');

            if (isShowing) {
              navbar.classList.remove('show');
              navItems.forEach((element) => {
                element.removeEventListener('click', toggleHamburgerBar);
              });
            } else {
              navbar.classList.add('show');
              navItems.forEach((element) => {
                element.addEventListener('click', toggleHamburgerBar);
              });
            }
          }
          document
            .querySelector('.hamburger-button')!
            .addEventListener('click', toggleHamburgerBar);
        </script>
      </nav>
    </Header>

    <div class="card">
      <div class="about-div">
        <h1 class="title">Acedia Pictures</h1>

        <p class="call-to-action">
          Lights, Camera, <a
            class="call-to-action-get-started"
            href="#get-started"
            >Create With Us</a
          >
        </p>
        <p class="about">
          Invent revolutionary cinematic experiences. Immerse your audience with
          industry-leading storytelling and design. Based in Auckland, New
          Zealand
        </p>
      </div>
      <div class="logo-div">
        <!-- <Slides client:load /> -->
        <div class="instagram-div">
          <Instagram />
        </div>
      </div>
    </div>
    <div
      class="card"
      id="featured"
    >
      <div class="featured-div">
        <p class="card-title">Featured</p>
        <Featured client:load />
      </div>
    </div>
    <div class="scroll-link-div">
      <script>
        // Check if we are the top of the page
        window.addEventListener('scroll', function () {
          const scrollLinkElement = document.querySelector('.scroll-link');
          if (window.scrollY < 100) {
            // If we are at the top of the page
            (scrollLinkElement! as HTMLElement).style.visibility = 'visible';
          } else {
            (scrollLinkElement! as HTMLElement).style.visibility = 'hidden';
          }
        });
      </script>
      <a
        class="scroll-link show"
        href="#worked-with"
        >▼</a
      >
    </div>
    <div
      class="card"
      id="worked-with"
    >
      <div class="worked-with-div">
        <p class="card-title">We've worked with</p>
        <div class="worked-with-list">
          <a
            class="worked-with-link"
            href="https://www.freshcoaching.me/"
            target="_blank"
          >
            <img
              src="fresh-coaching-logo.png"
              class="worked-with-logo"
            />
          </a>
          <a
            class="worked-with-link"
            href="https://www.stellayoga.co.nz/"
            target="_blank"
          >
            <img
              src="stella-yoga-logo.png"
              class="worked-with-logo"
            />
          </a>
          <a
            class="worked-with-link"
            href="https://www.ttw.org.nz/"
            target="_blank"
          >
            <img
              src="te-tuinga-icon.jpg"
              class="worked-with-logo"
            />
          </a>
        </div>
      </div>
    </div>
    <div
      class="card"
      id="testimonials"
    >
      <div class="testimonials-div">
        <p class="card-title">Testimonials</p>
        <div class="testimonials-grid">
          <Testimonial
            quote="The team at Acedia are absolutely fantastic at their craft. They are my go-to and have always provided me with high-quality visuals that make an impact. They are both patient and constructive, giving feedback on how to improve where necessary and honest about what will work for the audience. This passion radiates through the finished product. Highly recommend. "
            source="Anna Veale, Owner Operator of Fresh Coaching"
          />
          <Testimonial
            quote="Acedia created three testimonials films. The team is well equipped for brightening up our dark space and were both mature and fun to work with. I am happy with the experience and will definitely use Acedia for future filming needs"
            source="Stella Goetz, Owner of Stella Yoga"
          />
          <!-- <Testimonial
            quote=""
            source="Tommy Wilson, CIO of Te Tuinga Whanau"
          /> -->
        </div>
      </div>
    </div>
    <div
      class="card"
      id="portfolio"
    >
      <div class="portfolio-div">
        <p class="card-title">Portfolio</p>
        <iframe
          title="Portfolio"
          class="portfolio-video"
          src="https://www.youtube.com/embed/_rv5z6YjyMI"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div
      class="card"
      id="get-started"
    >
      <div class="contact-div">
        <p class="card-title">Create With Us</p>
        <div class="contact-form">
          <ContactForm />
        </div>
      </div>
    </div>
    <Footer>
      <p class="foot-item">Acedia Pictures 2023. All Rights Reserved.</p>
      <p class="foot-divider">|</p>
      <a
        class="foot-item"
        href="https://www.instagram.com/acediapictures/"
        target="_blank"
        >Instagram</a
      >
      <p class="foot-divider">|</p>
      <a
        class="foot-item"
        href="https://www.youtube.com/@acediapictures4260"
        target="_blank"
        >Youtube</a
      >
      <p class="foot-divider">|</p>
      <a
        class="foot-item"
        href="/privacy"
        >Privacy Policy</a
      >
      <p class="foot-divider">|</p>
      <a
        class="foot-item"
        href="https://www.alexwillmcleod.com"
        target="_blank"
        >Developed by Alex McLeod</a
      >
      <p class="foot-divider">|</p>

      <a class="foot-item">Auckland</a>
    </Footer>
    <div class="email-button-div"><EmailButton /></div>
  </body>

  <style>
    .title {
      font-family: 'Inter';
      font-size: 9rem;
      font-weight: 600;
      line-height: 8rem;
      background: var(--pink-color);
      background: -moz-linear-gradient(
        90deg,
        var(--pink-color) 0%,
        var(--blue-color) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        var(--pink-color) 0%,
        var(--blue-color) 100%
      );
      background: linear-gradient(
        90deg,
        var(--pink-color) 0%,
        var(--blue-color) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;

      color: transparent;
      font-weight: bold;
      text-decoration: underline;
    }
    .nav-bar {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
    }
    .foot-divider {
      font-family: 'Inter';
      color: var(--dark-color);
      text-decoration: none;
      user-select: none;
      font-size: 1rem;
    }
    .nav-item {
      font-family: 'Inter';
      color: var(--dark-color);
      text-decoration: none;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
    }

    .hamburger-bar {
      display: none;
    }
    .hamburger-icon {
      fill: var(--bright-neutral-color);
      cursor: pointer;
    }
    .hamburger-button {
      background-color: transparent;
      border: none;
    }
    .foot-item {
      font-family: 'Inter';
      color: var(--dark-color);
      text-decoration: none;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
    }
    .card {
      width: 100vw;
      max-width: 100vw;
      padding: 2rem 5rem;
      display: flex;
      background-color: transparent;
      color: transparent;
      overflow-x: hidden;
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
    }
    .call-to-action {
      font-family: 'Inter';
      color: var(--dark-color);
      font-size: 1.8rem;
      font-weight: 500;
    }
    .call-to-action-get-started {
      font-family: 'Inter';
      color: var(--dark-color);
      text-decoration: none;
      padding-bottom: 0.5rem;
      font-weight: bolder;
      background-position: left bottom;
      background-image: linear-gradient(
        90deg,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
      background-size: 0% 0.6rem;
      background-repeat: no-repeat;
      transition: background-size 300ms ease;
    }
    .call-to-action-get-started:visited {
      color: rgb(202, 202, 202);
      color: var(--dark-color);
    }
    .call-to-action-get-started:hover {
      background-size: 100% 0.6rem;
    }
    .about-div {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
      gap: 2rem;
      padding-top: 3rem;
      width: 50%;
    }
    .logo-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    .instagram-div {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .about {
      font-family: 'Inter';
      color: var(--dark-color);
      font-size: 1.4rem;
      font-weight: 500;
    }
    .gradient-logo {
      position: absolute;
      width: 20rem;
      z-index: 10;
      filter: drop-shadow(-1.5rem -1.5rem 10rem var(--pink-color))
        drop-shadow(1.5rem 1.5rem 10rem var(--blue-color));
    }

    .gradient-logo .gradient-bg {
      fill: url(#header-shape-gradient) var(--bright-neutral-color);
    }

    .gradient-logo .gradient-stroke {
      stroke: url(#header-shape-gradient) var(--bright-neutral-color);
    }

    #header-shape-gradient {
      --color-stop: #eeaeca;
      --color-bot: #94bbe9;
    }

    .featured-div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: transparent;
    }

    .scroll-link-div {
      position: fixed;
      display: flex;
      bottom: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: min-content;
    }

    .scroll-link {
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 2.5rem;
      filter: invert(1) grayscale(1);
      -webkit-filter: invert(1) grayscale(1);
      mix-blend-mode: difference;
      padding: 0.5rem;
    }

    .worked-with-div {
      width: 100%;
    }

    .worked-with-list {
      display: flex;
      flex-direction: row;
      width: 100%;
      /* justify-content: center; */
      gap: 3rem;
      flex-wrap: wrap;
      padding-top: 3rem;
    }

    .worked-with-link {
      cursor: pointer;
    }

    .worked-with-logo {
      width: 7rem;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 0.25s ease;
    }

    .worked-with-logo:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      scale: 1.25;
    }

    .testimonials-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      overflow-y: hidden;
    }

    .testimonials-grid {
      /* background-color: rgba(63, 79, 114, 0.151); */
      background-color: rgba(146, 168, 216, 0.151);
      padding: 1rem;
      border-radius: 0.5rem;
      /**
   * User input values.
   */
      --grid-layout-gap: 1rem;
      --grid-column-count: 3;
      --grid-item--min-width: min(23rem, 90%);

      /**
   * Calculated values.
   */
      --gap-count: calc(var(--grid-column-count) - 1);
      --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
      --grid-item--max-width: calc(
        (100% - var(--total-gap-width)) / var(--grid-column-count)
      );

      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(
          max(var(--grid-item--min-width), var(--grid-item--max-width)),
          1fr
        )
      );
      grid-gap: var(--grid-layout-gap);
    }

    .card-title {
      font-family: 'Inter';
      /* color: rgb(202, 202, 202); */
      color: rgba(27, 31, 39, 0.98);
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: auto;
    }

    .portfolio-div {
      width: 100%;
      display: flex;
      overflow-x: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    .portfolio-video {
      width: 80vw;
      height: calc((9 / 16) * 80vw);
    }

    .contact-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }

    .email-button-div {
      position: fixed;
      width: 4.5rem;
      bottom: 1rem;
      right: 1rem;
      cursor: pointer;
      z-index: 5;
    }

    @media screen and (max-width: 1220px) {
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .about-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
      }
      .logo-div {
        width: 100%;
      }
      .title {
        align-self: center;
      }
      .gradient-logo {
        position: initial;
      }
      .worked-with-list {
        justify-content: center;
      }
    }

    @media screen and (max-width: 550px) {
      .title {
        font-size: 5rem;
        line-height: 4.5rem;
      }
      .card {
        padding: 1.2rem;
      }

      .nav-bar,
      .foot-divider {
        display: none;
      }

      .nav-bar.show {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 6.01rem;
        padding: 3rem;
        left: 0;
        z-index: 999;
        width: 100vw;

        background-color: var(--light-color-transparent);
        /* background-color: rgba(27, 31, 39, 0.98); */
        backdrop-filter: blur(1rem);
      }

      .nav-bar.show * {
        font-size: 1.6rem;
        font-weight: bold;
      }

      .hamburger-bar {
        display: flex;
      }

      .scroll-link {
        visibility: hidden;
        display: none;
      }

      /* .email-button-div {
        display: none;
        visibility: hidden;
      } */
    }
  </style>
</html>
