---
const { source, quote } = Astro.props;
---

<div class="container">
  <p class="quote">"{quote}"</p>
  <p class="source">- {source}</p>
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--light-color-transparent);
    height: 100%;
  }
  p {
    color: var(--dark-color);
    font-size: 1.3rem;
  }
  .source {
    font-weight: bold;
  }
</style>
